@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

:root {
    --body-color: #EBF2FA;
    --text-color: #FFFFFF;
    --btn-color-primary: #1D5F18;
    --btn-color-secondary: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), #1D5F18;
    /* --body-color: linear-gradient(to top, #ffffff 0%, rgba(176, 176, 176, 0.5) 100%); */
    /* --body-color: linear-gradient(to top, #dfe9f3 70%, white 100%);
    --btn-color-primary: #00849A;
    --btn-color-secondary: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), #00849A; */
}

html,
body {
    max-width: 100%;
    min-height: 100%;
}

body {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--body-color);
    /* background: linear-gradient(296.82deg, #c5c5c5 0%, rgba(228, 242, 255, 0.5) 100%); */
    /* background: var(--body-color); */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.form {
    max-width: 670px;
}

.logo {
    width: 18rem;
    height: 6rem;
    text-align: center;
}

.box-shadow {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}

.description {
    text-align: justify;
}

.form-label {
    font-weight: 500;
}

.btn-login {
    background: var(--btn-color-primary);
    color: var(--text-color);
    text-align: center;

}

.btn {
    font-family: 'Poppins', sans-serif;
}

.btn-login:hover {
    background: var(--btn-color-secondary);
    color: var(--text-color);
}

@media screen and (max-width: 360px) {
    .logo {
        width: 13rem;
        height: 4.5rem;
    }


    .description,
    .input-login {
        font-size: 1rem;
    }

    .description>h3,
    .btn {
        font-size: 1.2rem;
    }
}