@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    width: 100%;
    height: 50px;
    background-color: #135f00;
    position: fixed;
    top: 0;
    z-index: 10;
}

:root {
    --main-text-color: #009d63;
    --second-color: #135f00;
    --second-text-color: #F5F5F5F5;
    --link-active: #613d7c;
    --bg-website: #eeeeee;
    --warning-color: red;
}

.second-text {
    color: var(--second-color);
}

.rounded-full {
    border-radius: 100%;
}

#wrapper {
    overflow-x: hidden;
    background-color: var(--bg-website);
    /* background-image: linear-gradient(to right,
            #e4e2e2f8,
            #cccbcb); */
}

/* #wrapper-content.toggled {
    min-height: 90vh;
} */

#wrapper-content {
    min-height: 90vh;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
    margin-top: 50px;
}

#sidebar-wrapper .sidebar-heading {
    /**belum**/
    padding: 0.600rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    /**belum**/
    min-width: 100vw;
}

.page-content-wrapper {
    /**belum**/
    opacity: 1;
    top: 50%;
}

.sidebar-nav .nav-heading {
    font-size: 13px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-weight: 600;
    margin: 10px 30 5px 15px;
    margin-left: -20px;
}

#wrapper.toggled #sidebar-wrapper {
    /**belum**/
    margin-left: 0;

}

#menu-toggle {
    cursor: pointer;
}

.list-group-item {
    /**belum**/
    border: none;
    padding: 15px 10px;
    cursor: pointer;
}

.link.active {
    /**belum**/
    color: var(--second-text-color);
    border: none;
    opacity: 1;
    top: 50%;
    border-radius: 3px;
}

.navSidebar.active,
.nav-item>.nav-link.active {
    background-color: var(--main-text-color);
}

.table {
    width: 40%;
}

.card {
    width: 350px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

.box-shadow {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
    width: 17rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.link,
.text {
    white-space: nowrap;
}

ul>li {
    list-style: none;
}

a {
    text-decoration: none;
}

.nav-link {
    color: black;
}

.nav-link:hover,
.navSidebar:hover {
    background-color: var(--main-text-color);
    color: var(--second-text-color);
}

.logout-link {
    color: var(--warning-color);
}

.logout-link:hover {
    background-color: var(--warning-color);
    color: var(--second-text-color);
}

.navSidebar,
.logout-link {
    margin-left: -30px;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}

/* .container-card {
    flex: 0 1 30%;
} */

.content {
    overflow-x: auto;
}

.cards {
    display: grid;
    grid-column: 3;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.card {
    margin-right: 0;
}


@media (max-width: 1360px) {
    .cards {
        gap: 1.5rem;
    }

    .card {
        margin-bottom: 1rem;
    }
}

@media (max-width: 546px) {

    .content,
    table {
        width: 100%;
    }

}

@media (min-width: 768px) {
    header i h2 {
        margin-top: 50px;
    }

    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }

    .collapse {
        float: right;
    }

}