@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import "charts.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root {
    --main-text-color: #009d63;
    --second-color: #135f00;
    --second-text-color: #f5f5f5f5;
    --second-tex-color-sidebar: #aaaaaa;
    --link-active: #303030;
    --bg-website: #eeeeee;
    --warning-color: red;
    --primary-green: #1a4d2e;
    --secondary-green: #4f6f52;
    --secondary: #e8dfca;
    --primary: #f5efe6;
    --bg-website-dark: rgb(19, 19, 19);
    --primary-green-dark: #f5efe6;
    --secondary-green-dark: #e8dfca;
    --primary-dark:rgb(48, 48, 48);
    --secondary-dark:rgb(187, 187, 187);
}

body.dark-mode {
    --main-text-color: #009d63; /* Ganti sesuai kebutuhan */
    --second-color: #135f00; /* Ganti sesuai kebutuhan */
    --second-text-color: #f5f5f5; /* Ganti sesuai kebutuhan */
    --second-tex-color-sidebar: #aaaaaa; /* Ganti sesuai kebutuhan */
    --link-active: #303030; /* Ganti sesuai kebutuhan */
    --bg-website: var(--bg-website-dark);
    --primary-green: var(--primary-green-dark);
    --secondary-green: var(--secondary-green-dark);
    --primary: var(--primary-dark);
    --secondary: var(--secondary-dark);
}

header {
    width: 100%;
    height: 50px;
    background-color: var(--second-color);
    position: fixed;
    top: 0;
    z-index: 10;
}

.second-text {
    color: var(--second-color);
}

.rounded-full {
    border-radius: 100%;
}

#wrapper {
    overflow-x: hidden;
    background-color: var(--bg-website);
}

/* #wrapper-content.toggled {
    min-height: 90vh;
} */

#wrapper-content {
    min-height: 100%;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
    margin-top: 50px;
}

#sidebar-wrapper .sidebar-heading {
    /**belum**/
    padding: 0.6rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    /**belum**/
    min-width: 100vw;
}

.page-content-wrapper {
    /**belum**/
    opacity: 1;
    top: 50%;
}

.sidebar-nav .nav-heading {
    font-size: 13px;
    color: var(--second-tex-color-sidebar);
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 30 5px 15px;
    margin-left: -20px;
}

#wrapper.toggled #sidebar-wrapper {
    /**belum**/
    margin-left: 0;
}

#menu-toggle,
.form-select {
    cursor: pointer;
}

.list-group-item {
    /**belum**/
    border: none;
    padding: 15px 10px;
    cursor: pointer;
}

.link.active {
    /**belum**/
    color: var(--second-text-color);
    border: none;
    opacity: 1;
    top: 50%;
    border-radius: 3px;
}

.navSidebar.active,
.nav-item>.nav-link.active {
    background-color: var(--main-text-color);
}

#data-dosen.table.dataTable,
#suspend.table.dataTable,
#table-data.table.dataTable,
.table {
    width: 50%;
    margin: 0;
}

.table-master {
    width: 100%;
}

.card {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

.card-body {
    height: 180px;
}

.title,
.card {
    text-align: justify;
}

.box-shadow {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
}

.header-card {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.link,
.text {
    white-space: nowrap;
}

ul>li {
    list-style: none;
}

a {
    text-decoration: none;
}

.nav-link {
    color: var(--second-color);
}

.nav-link:hover,
.navSidebar:hover {
    background-color: var(--main-text-color);
    color: var(--second-text-color);
    font-weight: 400;
}

.logout-link {
    color: var(--warning-color);
}

.logout-link:hover {
    background-color: var(--warning-color);
    color: var(--second-text-color);
}

.navSidebar,
.logout-link {
    margin-left: -30px;
    font-family: "Poppins", sans-serif;
}

.content {
    overflow-x: auto;
}

@media (max-width: 546px) {

    .content,
    table {
        width: 100%;
    }
}

@media (min-width: 768px) {
    header i h2 {
        margin-top: 50px;
    }

    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }

    .collapse {
        float: right;
    }
}

/* CSS untuk Card Offline dalam dan Luar dalam */
#card-offline-dalam .card-header,
#card-offline-luar .card-header {
    background-color: #ee0000;
    color: #fff;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 600;
}

/* CSS untuk Card Online dalam dan Luar dalam */
#card-online-dalam .card-header,
#card-online-luar .card-header {
    background-color: #009d63;
    color: #fff;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 600;
}

/* CSS untuk Card Online Error saat mengecek server */

#card-error .card-header {
    background-color: #000000;
    border-top: 5px solid #000000;
    color: #fff;
    padding: 15px;
    text-align: center;
    font-size: 18px;
}

/* CSS untuk semua Card body */

#card-online-dalam,
#card-online-luar,
#card-offline-dalam,
#card-offline-luar,
#card-error {
    /* margin-bottom: 20px; */
    width: 200%;
    height: 100%;
    /* padding: 20px; */
}

/* CSS untuk Card Title */
.card-title {
    color: #000000;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}

.card-text {
    text-align: center;
    font-size: 16px;
    /* margin-bottom: 220px; */
}

/* CSS untuk Status Check */
.status-check {
    text-align: center;
    font-size: 16px;
    color: #777;
    margin-top: 10px;
}

/* CSS untuk card view custom check interval */
.card-new {
    border: none;
    border-radius: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    background-color: #f7f7f7;
    margin-bottom: 100px;
}

.card-new .card-header {
    color: rgb(8, 8, 8);
    padding: 15px;
    border-radius: 0px;
    text-align: left;
    font-size: 20px;
    background-color: #ffffff;
    font-weight: 600;
    backdrop-filter: sepia(70%);
}

.card-new .card-body {
    padding: 10px;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#check-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    gap: 10px;
}

.card-new label {
    font-size: 16px;
    margin-bottom: 10px;
    color: #333;
}

.card-new input[type="number"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #009d63;
    border-radius: 5px;
}

.card-new .btn-check-now,
.card-new .btn-stop-interval,
.card-new .btn-set-interval,
#btn-cekssl {
    background-color: #009d63;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
    cursor: pointer;
    margin-right: 10px;
}

.card-new .btncheck:last-child {
    margin-right: 0;
}

.card-new .btncheck:hover {
    background-color: #45a049;
}

.btn-custom-color {
    background-color: whitesmoke;
    /* Ganti kode warna dengan warna yang diinginkan */
    color: black;
    /* Warna teks pada tombol */
    /* Hilangkan border jika diinginkan */
    border-color: #135f00;
}

.btn-custom-color:hover {
    background-color: #135f00;
    color: whitesmoke;
}

.card-container {
    display: flex;
    width: 65%;
    height: 100%;
}

.div-card {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 25px;
}

/* rekaptulasi rps */
.rekap-container {
    width: auto;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 30px;
    margin-top: 30px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    background-color: #f7f7f7;
}

/* Menambahkan ketinggian pada tabel */
.scrollable-table {
    height: 240px;
    overflow: auto;
}

/* Menjadikan sel-sel tabel bisa di-scroll ke kanan */
.scrollable-table table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.zoom-buttons {
    margin-bottom: 10px;
}

/* ----mockup dashboard---- */

.mock-atas {
    display: flex;
    width: 100%;
    height: 180px;
    justify-content: space-between;
}

/* chart-tengah */
.chart-tengah-donat {
    width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: space-evenly;
    /* padding: 10px; */
    padding-top: 10px;
    padding-bottom: 10px;
}

.chart-tengah-donat-isi {
    text-align: center;
    /* row-gap: 20px; */
    height: 50%;
    width: 50%;
}

#jurusan {
    border: none;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.server-container {
    width: 59%;
    /* background-color: rebeccapurple; */
    height: 100%;
    max-height: 200px;
    background-image: radial-gradient(var(--primary-green) 2px, transparent 2px),
        radial-gradient(var(--primary-green) 2px, transparent 2px);
    background-size: 56px 56px;
    background-position: 0 0, 28px 28px;
    /* background-color: var(--primary); */
    background-color: var(--secondary-green);
    color: var(--secondary);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* border: 3px solid var(--primary-green); */
}

.server-header {
    width: 100%;
    height: auto;
    /* background-color: blue; */
    padding: 10px 10px 0px 10px;
}

.server-body {
    width: 100%;
    height: 50%;
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
    /* background-color: red; */
    font-size: 20px;
    flex-direction: column;
    line-height: 10px;
    padding-left: 10px;
}

.server-header>h1 {
    font-size: 64px;
}

.card-ssl {
    width: 40%;
    background: rgb(24, 99, 26);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-image: radial-gradient(var(--primary-green) 2px, transparent 2px),
        radial-gradient(var(--primary-green) 2px, transparent 2px);
    background-size: 56px 56px;
    background-position: 0 0, 28px 28px;
    /* background-color: var(--primary); */
    background-color: var(--secondary-green);
    color: var(--secondary);
    /* border: 3px solid var(--secondary); */
    /* color: var(--secondary-green); */
}

.card-body-ssl {
    width: 100%;
    height: 100%;
    padding: 15px;
}

.card-content-ssl {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.right-content-ssl {
    text-align: right;
    width: 100%;
    height: fit-content;

    position: relative;
    bottom: 8px;
}

.right-content-ssl>h1 {
    font-size: 72px;
}

.right-content-ssl>h2 {
    font-size: 20px;
}

.right-content-ssl>p {
    font-size: 20px;
}

.right-content-ssl>p>span {
    font-weight: 700;
}

/* informantion container */

.info-container {
    width: 100%;
    height: auto;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    flex-direction: row;
    gap: 16px;
    height: fit-content;
    width: 100%;
}

.header-suspend {
    text-align: left;
    width: 100%;
    height: fit-content;
    color: #003723;
    padding-top: 0px;
    padding-bottom: 1rem;
}

.header-suspend>h1 {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.content-1,
.content-2,
.content-3,
.content-4,
.content-5,
.content-6,
.content-7,
.content-8,
.content-9,
.content-10 {
    background-color: var(--primary);
    color: var(--primary-green);
    height: auto;
    padding: 0px;
    margin: 0px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 3px solid var(--secondary);
    
}

/* Colors */
.colors {
    color: var(--primary-green);
    color: var(--secondary-green);
    color: var(--secondary);
    color: var(--primary);
}

/* Colors */

/* C1 */
.content-1 {
    width: 20%;
    display: flex;
    flex-direction: column;
    background-image: url(https://img.icons8.com/ios/100/e8dfca/books.png);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: 110px 40px;
    transition: background-size 0.4s ease, background-position 0.4s ease, background-color 0.4s ease;

}

.c1-header {
    width: 100%;
    height: auto;
    font-size: 16px;
    font-weight: 500;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    /* border: 3px solid var(--secondary) ; */
}

.c1-content {
    display: flex;
    align-items: center;
    font-size: 64px;
    padding-left: 20px;
}

.c1-content>p {
    color: var(--secondary-green);
}

/* C1 */

/* C3*/
.content-3 {
    position: relative;
    flex-grow: 1;
    background-image: url(https://img.icons8.com/ios-filled/100/e8dfca/globe--v1.png);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: 290px 10px;
    transition: background-size 0.4s ease, background-position 0.4s ease, background-color 0.4s ease;
}

.c3-content {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    padding-left: 10px;
    padding-top: 10px;
    color: var(--secondary-green);
}

/* C3 */

/* C4 Fam */
.content-4 {
    width: 50%;
    color: var(--primary-green);
}

.c4-chart-ket {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

.c4-chart-ket>#jurusan {
    width: 20%;
    background-color: var(--secondary-green);
    color: var(--primary);
    padding-bottom: 2px;
}

.section-2-div {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}

.content-5,
.content-6,
.content-7 {
    height: 50%;
}

/* C4 Fam */

/* C5 */
.content-5 {
    background-image: url(https://img.icons8.com/ios/100/e8dfca/info--v1.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: center;
}

.c5-header {
    width: 100%;
    height: 20%;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.c5-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    row-gap: 5px;
    margin-top: 10px;
}

.c5-content-div {
    width: 50%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #009d63; */
    border-radius: 5px;
    row-gap: 5px;
}

.c5-content-div>h4 {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

/* C5 */

/* C6 */
.content-6 {
    background-image: url(https://img.icons8.com/fluency-systems-filled/100/e8dfca/user.png);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: 420px 20px;
}

.c6-content {
    width: 100%;
    height: 80%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
    line-height: 30px;
}

.c6-content>p {
    font-size: 4rem;
    font-weight: 600;
}

.c6-content>i {
    font-size: 2rem;
    font-weight: 400;
}

/* C6 */

/* C7 */
.content-7 {
    width: 40%;
}

.c7-content {
    padding: 10px;
}

#matkul-aktivitas {
    width: fit-content;
    margin-left: 10px;
}

/* C7 */

/* C8 */
.content-8 {
    flex-grow: 1;
    height: fit-content;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-color 0.4s ease;
}

.c8-content {
    width: 100%;
    height: 100%;
    padding: 10px;
}



#tahun-tren {
    width: 20%;
}

#animations-example .column tbody td {
    transform-origin: bottom;
    animation: revealing-bars 2s linear infinite;
}

@keyframes revealing-bars {
    0% {
        transform: scaleY(0);
    }

    30% {
        transform: scaleY(1);
    }
}

/* C8 */

canvas {
    height: 100px;
    width: 100px;
}

.main-container-sort {
    width: 100%;
    height: auto;
    /* padding: 5px;
    margin-left: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-container-sort {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    /* background-color: var(--secondary);
    border: 2px solid var(--primary); */
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-image: radial-gradient(var(--primary-green) 2px, transparent 2px),
        radial-gradient(var(--primary-green) 2px, transparent 2px);
    background-size: 40px 40px;
    background-position: 0 0, 22px 22px;
    /* background-color: var(--primary); */
    background-color: var(--secondary-green);
    color: var(--secondary);
}

.left-container-sort {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    /* background-color: rebeccapurple; */
}

select {
    width: fit-content;
    height: auto;
    border-radius: 5px;
    text-align: center;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--primary);
    text-align: center;
}

label {
    color: var(--primary);
    font-weight: 600;
    font-size: 18px;
    padding-right: 5px;
}

.right-container-sort {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

/* .button-sort {
    width: 20%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.content-container-sort>form>button {
    border: none;
    border-radius: 5px;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
    width: 10%;
    height: fit-content;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: var(--primary-green);
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in-out;
}

.content-container-sort>form>button:hover {
    background-color: var(--secondary);
    color: var(--primary-green);
    transition: ease-in-out 0.1s;
}

#hitung-form {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.hidden-table {
    display: none;
}

#content-1-click:hover {
    cursor: pointer;
    background-color: var(--secondary);
    border: 2px solid var(--primary);
    background-image: url(https://img.icons8.com/ios/100/f5efe6/books.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 100px 40px;
}

.content-8-click:hover{
    cursor: pointer;
    background-color: var(--secondary);
    border: 2px solid var(--primary);

}



button {
    border: none;
    border-radius: 5px;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
}

.table-chart-aktivitas{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: end;
    align-items: end;
}

.table-wrapper-spada {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: auto;
    width: 100%;
}

.table-wrapper-aktivitas {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: auto;
    width: 100%;
}

.thead-spada {
    position: sticky;
    top: 0px;
    background-color: var(--secondary-green);
    padding-top: 2px;
    color: var(--primary);
}
.thead-aktivitas {
    position: sticky;
    top: 0px;
    background-color: var(--secondary-green);
    padding-top: 2px;
    color: var(--primary);
}

#table-rekap-spada {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
#table-rekap-aktivitas {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

#table-rekap-spada>th,
td {
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 5px;
}
#table-rekap-aktivitas>th,
td {
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 5px;
}

#table-rekap-spada>.thead-spada>tr>th {
    font-weight: 400;
}
#table-rekap-aktivitas>.thead-aktivitas>tr>th {
    font-weight: 400;
}


#table-rekap-spada tbody tr:nth-child(even) {
    background-color: var(--primary);
    /* Warna latar belakang untuk baris genap */
}

#table-rekap-spada tbody tr:nth-child(odd) {
    background-color: var(--secondary);
    /* Warna latar belakang untuk baris genap */
}
#table-rekap-aktivitas tbody tr:nth-child(even) {
    background-color: var(--primary);
    /* Warna latar belakang untuk baris genap */
}

#table-rekap-aktivitas tbody tr:nth-child(odd) {
    background-color: var(--secondary);
    /* Warna latar belakang untuk baris genap */
}


#content-3-click:hover {
    cursor: pointer;
    background-color: var(--secondary);
    border: 2px solid var(--primary);
    background-image: url(https://img.icons8.com/ios-filled/100/f5efe6/globe--v1.png);
    background-repeat: no-repeat;
    background-size: 55%;
    /* Membesarkan sedikit background image */
    background-position: 200px 5px;
}

.charts-header {
    text-align: center;
    font-size: x-large;
    margin-top: 5px;
    color: var(--primary-green);
    font-weight: 600;
}

#overlay-loader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    /* Warna background dengan transparansi */
    z-index: 9999;
    /* Pastikan overlay ada di atas elemen lainnya */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* #loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
} */

/* @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
} */


/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
#loader {
    width: 70px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 15px solid var(--secondary);
    border-right-color: var(--secondary-green);
    animation: l2 1s infinite linear;
  }
  @keyframes l2 {to{transform: rotate(1turn)}}