.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card:nth-child(2) {}


@media (max-width: 910px) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
    }

    #wrapper.toggled .cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    #wrapper.toggled .cards {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 768px) {
    #wrapper.toggled .cards {
        grid-template-columns: repeat(3, 1fr);
    }
}